<form class="feuille_raoul" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" class="imgHero" data-edit="img" title="{{item.name}}" width="64" height="128"/>
        <h1>{{item.name}}</h1>  
    </header> 
 <div>
     <h3>Description</h3>
<textarea name="system.description" rows="7">{{item.system.description}}</textarea>
</div>
<div>
    <h3>Effet</h3>
<textarea name="system.effet" rows="7">{{item.system.effet}}</textarea>
</div>
</form>
