<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" class="imgObjet" data-edit="img" title="{{item.name}}" width="64" height="64"><h1>{{item.name}}</h1>
    </header> 
    Tes points forts :
    <textarea rows="2" name="system.titre">{{item.system.titre}}</textarea>
    Description :
    <textarea rows="12" name="system.description">{{item.system.description}}</textarea>
    Réussites :
    <textarea rows="12" name="system.effet">{{item.system.effet}}</textarea>
</form>
