<form class="feuille_raoul" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" class="imgObjet" data-edit="img" title="{{item.name}}" width="64" height="64"/>
        <h1>{{item.name}}</h1>  
    </header> 
 <div>
     <h3>Description</h3>
<textarea name="data.description" rows="5">{{data.description}}</textarea>
</div>
<div>
    <h3>Effet</h3>
<textarea name="data.effet" rows="3">{{data.effet}}</textarea>
</div>
</form>
